body {
    font-size: 10px;
}

h1 {
    text-align: center;
    font-size: 2.8em;
}

h2 {
    text-align: center;
    font-size: 2.4em;
}

p {
    width: 90%;
    margin: 10px auto;
    font-size: 1.6em;
}

figcaption {
    font-size: 1.4em;
    text-align: center;
}

img {
    max-width: 100%;
}

figure {
    margin: 7.5%;
}